In [1]:
#import statements
import pandas as pd
import numpy as np

import matplotlib as plt
import itertools
import mne

In [2]:
#read in first (single) experiments log
df = pd.read_csv('experiment/data/David_food_intake_2021_Dec_20_1240.csv')
df.head(2)

,trials.thisRepN,trials.thisTrialN,trials.thisN,trials.thisIndex,trials_2.thisRepN,trials_2.thisTrialN,trials_2.thisN,trials_2.thisIndex,trials_5.thisRepN,trials_5.thisTrialN,...,image_5.stopped,TIMESTAMP_Eating_Bread_End,End_Experiment,participant,session,date,expName,psychopyVersion,frameRate,Unnamed: 75
0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,David,1.0,2021_Dec_20_1240,food_intake,2021.2.3,None,NaN
1,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,David,1.0,2021_Dec_20_1240,food_intake,2021.2.3,None,NaN

In [3]:
#list of relevant columns
columns = ['TIMESTAMP_Speaking_Start', 'TIMESTAMP_Speaking_End', 'TIMESTAMP_Yawning_Start', 'TIMESTAMP_Yawning_End', 
           'TIMESTAMP_Resting_Start', 'TIMESTAMP_Resting_End', 'TIMESTAMP_Resting_Eyes_Closed_Start', 'TIMESTAMP_Resting_Eyes_Closed_End', 
           'TIMESTAMP_Eating_NSF_Start', 'TIMESTAMP_Eating_NSF_End', 'TIMESTAMP_Eating_Nuts_Start', 'TIMESTAMP_Eating_Nuts_End', 
           'TIMESTAMP_Eating_Bread_Start', 'TIMESTAMP_Eating_Bread_End'
          ]

In [4]:
#extract only relevant columns from df
data = df[columns]
data.head(3)

,TIMESTAMP_Speaking_Start,TIMESTAMP_Speaking_End,TIMESTAMP_Yawning_Start,TIMESTAMP_Yawning_End,TIMESTAMP_Resting_Start,TIMESTAMP_Resting_End,TIMESTAMP_Resting_Eyes_Closed_Start,TIMESTAMP_Resting_Eyes_Closed_End,TIMESTAMP_Eating_NSF_Start,TIMESTAMP_Eating_NSF_End,TIMESTAMP_Eating_Nuts_Start,TIMESTAMP_Eating_Nuts_End,TIMESTAMP_Eating_Bread_Start,TIMESTAMP_Eating_Bread_End
0,1.640000e+09,1.640000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.640000e+09,1.640001e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,1.640001e+09,1.640001e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#extract values of single columns to drop NaN and save column name in list
liste = []

for column_name in columns:
    
    column = data.dropna(subset=[column_name])
    values = column[column_name].values.tolist()
    
    liste.append(values)

In [6]:
#construct dictionary of matching values and column names
data = {}
for column, value in zip(columns, liste):
   data[column] =  value

In [7]:
#constructing DataFrames with Start and End Timestamps
speaking = pd.DataFrame(data = dict(itertools.islice(data.items(), 2)))
yawning = pd.DataFrame(data = dict(itertools.islice(data.items(), 2, 4)))
resting_open = pd.DataFrame(data = dict(itertools.islice(data.items(), 4, 6)))
resting_closed = pd.DataFrame(data = dict(itertools.islice(data.items(), 6, 8)))
soup = pd.DataFrame(data = dict(itertools.islice(data.items(), 8, 10)))
nuts = pd.DataFrame(data = dict(itertools.islice(data.items(), 10, 12)))
sandwitch = pd.DataFrame(dict(itertools.islice(data.items(), 12, 14)))

In [8]:
yawning.head(3)

   TIMESTAMP_Yawning_Start  TIMESTAMP_Yawning_End
0             1.640001e+09           1.640001e+09
1             1.640001e+09           1.640001e+09
2             1.640001e+09           1.640001e+09